body {
  font-family: 'FF Meta Serif', serif;
  background-color: #ADD8E6; /* Светло-голубой цвет фона */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
button {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}

button {
  background-color: #4CAF50; /* Зеленый цвет для кнопки */
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.result-container {
  animation: slideIn 1s;
}

.heading {
  margin-top: 30px;
}

#selectDomain {
  padding: 10px;
  font-size: 16px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-text {
  animation-name: fadeIn; /* Название анимации */
  animation-duration: 1s; /* Длительность анимации в секундах */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
